<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Transaction</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/productListing.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/transaction.js" defer></script>
</head>

<body>
	<div class="header">
		<h1 class="primary-message">Shopping Cart</h1>
		<h2 class="secondary-message">Click item to remove from cart</h2>
	</div>

	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>

		<input type="hidden" id="transactionId" th:value="${transactionId}"/>


		<div class="productsWrapper">
			<br /><br />

			<ul id="productsCart" class="products">
				<li th:each="product : ${products}"> <!-- -->	
					<input type="hidden" name="productId" th:value="${product.id}" />
					<span class="productLookupCodeDisplay" th:text="${product.lookupCode}">lookupCode</span>
					<br />&nbsp;&nbsp;<span name="count" class="productCountDisplay" th:value="${product.count}">1</span>
					<br />&nbsp;&nbsp;<span class="productCreatedOnDisplay" th:text="${product.price}">12/31/1999</span>
					<br><br>
					<!--<button id="remove" class="action" type="hidden">Remove</button> 	
					<button id="addOne" class="action" type="hidden">+1</button> 	-->
					<br><br><br>
				</li>	
			</ul>
		</div>
		<br/>

		<!--<button id="addCart" type="button" class="action">Add to Cart</button>-->
		<br/>
		
		<button id="payment" type="button" class="action">Purchase Items</button> 
		<br/>
		<br/>
		<button id="cancelButton" type="button" class="action">Cancel Transaction</button>


		<div class="hidden">
			<input type="checkbox" id="isRefreshed" class="hidden">
			<script type="text/javascript">
				window.onunload = function() {
					const isRefreshedElement = document.getElementById("isRefreshed");

					if(!isRefreshedElement.checked) {
						isRefreshedElement.checked = true;
					} else {
						isRefreshedElement.checked = false;
						location.reload();
					}
				}
			</script>
		</div>
	</div>

	<div class="footer">
		<img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
	</div>
		
</body>

</html>
