<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Transaction - Summary</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/txnSummary.js" defer></script>
</head>

<body>
    <div class="header">
		<h1 class="primary-message">Transaction Summary</h1>
	  </div>

    <ul id="productsListing" class="products">
        <li th:each="inCart : ${cart}">
          <input type="hidden" name="productId" th:value="${inCart.id}" />
        <span class="productLookupCodeDisplay" th:text="${inCart.lookupCode}">lookupCode</span>
        <br />&nbsp;&nbsp;<span class="productCountDisplay" th:text="${inCart.quantity}">0</span>
        <br />&nbsp;&nbsp;<span type ="hidden" class="productCreatedOnDisplay" th:text="${inCart.price}">12/31/1999</span>
        <br />&nbsp;&nbsp;<span class="productCreatedOnDisplay">12/31/1999</span>
        <br />&nbsp;&nbsp;<span class="productCreatedOnDisplay" th:text="${inCart.createdOn}">12/31/1999</span>
      </li>
    </ul>

    <!-- th:text=${totalPrice}-->
	<div id="main" class="main">
        <h2 class="secondary-message" id=totalPriceText>Total Price: </h2>
		<h2 class="secondary-message" id="totalPriceNumber"></h2>
	</div>


    <div class="footer">
		<img id="returnImage" src="/images/return-png.png" alt="Return to Menu" class="footer" />
    </div>
    
</body>

</html>