<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Transaction - Summary</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/txnSummary.js" defer></script>
</head>

<body>
    <div class="header">
    <h1 class="primary-message">Thank you for shopping with us.</h1>
    <br> 
    <h2 class="primary-message">Please use the arrow below to return to main menu</h2>    
    </div>

	<div id="main" class="main">
        <h2 class="secondary-message" id=totalPriceText>Total Price: </h2>
		<h2 class="secondary-message" id="totalPriceNumber"></h2>
	</div>


    <div class="footer">
		<img id="returnImage" src="/images/return-png.png" alt="Return to Menu" class="footer" />
    </div>
    
</body>

</html>